/* GENERAL STYLES */
body {
    color: #727272;
}

/* UTILITIES */
.ms_button {
    border-radius: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid;
}

button {
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
    padding:0
}

/* HEADER */
header.ms_header {
    z-index: 1;
}

header.ms_header .sony_logo img {
    width: 100px;
}

header.ms_header .logo { 
    padding-top: 0;
    padding-bottom: 0;
}

.ms_navbar .ms_navbar-nav .ms_text.black {
    color: black;
}

.ms_navbar .ms_navbar-nav li:hover .ms_text.black{
    color: #117bd1 ;
}

.ms_header nav.ms_navbar ul:first-of-type li {
    margin-right: 0.4rem;
}

.ms_header nav.ms_navbar button.ms_dropdown {
    font-size: 0.6rem;
    background-color: transparent;
    border: none;
    color: gray;
}

.ms_header nav.ms_navbar ul:last-of-type li {
    margin-left: 1.5rem;
}

.ms_header nav.ms_navbar .ms_button {
    margin-top: 0.25rem;
    padding: 0.2rem 0.7rem;
    border-radius: 1rem;
}

/* GAME BANNER */
section.game_banner.first {
    margin-top: 91px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

section.game_banner.first .ms_content {
    padding-top: 250px;
}

section.game_banner .ms_content h2 {
    font-size: 2.4rem;
}

section.game_banner .ms_content a {
    background-color: #cd3d0f;
}

/* SECTION GAME CARDS */
section.game_cards .ms_card .img_container,
section.game_cards .ms_card img{
    border-radius: 15px;
}

section.game_cards .ms_card {
    outline: none;
    transform: none;
    transition: transform 0.3s ease-in; 
}

section.game_cards .ms_card:hover {
    transform: translateY(-10px);
}

section.game_cards .ms_card img {
    transition: box-shadow 0.5s;
}

section.game_cards .ms_card img:hover {
    box-shadow: 0 10px 10px rgb(208, 208, 208);
}

section.game_cards .ms_card:first-of-type .img_container {
    animation: color_outline 36s ease-in infinite;
}

section.game_cards .ms_card:nth-of-type(2) .img_container {
    animation: color_outline 36s ease-in infinite 6s;
}

section.game_cards .ms_card:nth-of-type(3) .img_container {
    animation: color_outline 36s ease-in infinite 12s;
}

section.game_cards .ms_card:nth-of-type(4) .img_container {
    animation: color_outline 36s ease-in infinite 18s;
}

section.game_cards .ms_card:nth-of-type(5) .img_container {
    animation: color_outline 36s ease-in infinite 24s;
}

section.game_cards .ms_card:last-of-type .img_container {
    animation: color_outline 36s ease-in infinite 30s;
}

@keyframes color_outline {
    0% {
        outline: none;
    }

    1% {
        outline: 3px solid #117bd1
    }

    25% {
        outline: none;
    }
    
    100% {
        outline: none;
    }
}

/* SECTION PS5 */

section.ps5 h2 {
    font-size: 2.4rem;
}

section.ps5 a {
    min-width: 170px;
}

@media screen and (min-width:0) and (max-width: 576px) {
    section.ps5 .ps5_product .img_container {
        max-height: 130px;
    }
}

section.ps5 .ps5_product button{
    border-bottom: 2px solid transparent;
}

section.ps5 .ps5_product img {
    opacity: 0.5;
}

section.ps5 .ps5_product span {
    color: gray;
    flex-grow: 1;
}

section.ps5 .ps5_product button:focus img {
    opacity: 1;
}

section.ps5 .ps5_product button {
 height: 100%;
}

section.ps5 .ps5_product button:focus span {
    color: black;
    
}

section.ps5 .ps5_product button:focus{
    border-color:  #117bd1;
}

/* GAME BANNER 2 */
section.game_banner.second {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

/* SECTION NUOVE USCITE */
section.new .ms_card img {
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

section.new .ms_card:hover img {
    transform: scale(1.03);
}

section.new .ms_card img {
    border-radius: 15px;
}

section.new .ms_card span {
    display: block;
    font-size: 0.8rem;
}

/* PS PLUS BANNER */
section.ps_plus_banner {
    background-color: #bebcbb;
}

section.ps_plus_banner .text span,
section.ps_now_banner .text span {
    font-size: 0.9rem;
}

section.ps_plus_banner .text a {
    background-color: #d9dadc;
    border: none;
}

/* SECTION DISCOUNT */
section.sales .discount img {    
    border-radius: 20px;
    box-shadow: 0 10px 10px rgb(208, 208, 208);    
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

section.sales .discount:hover img {
    transform: scale(1.02);
}

/* SECTION PS NOW BANNER */
section.ps_now_banner {
    background-color:#161c3b;
}

/* SECTION SOCIAL */
section.social .cover img {
    border-radius: 15px;
    box-shadow: 0 5px 5px rgb(208, 208, 208);    
    transform: scale(1);
    transition: transform 0.2s ease-in, 
                box-shadow 0.5s ease-in;
}

section.social .cover:hover img {
    transform: scale(1.03);
    box-shadow: 0 5px 8px rgb(208, 208, 208);
}

/* FOOTER*/
footer.ms_footer {
    background-color: #00439c;
    font-size: 0.8rem;
}

footer.ms_footer .logo i.play_logo {
    font-size: 75px;
}

footer.ms_footer .logo i span {
    font-size: 0.6rem;
}

footer.ms_footer .useful_links a {
    text-decoration: none;
}

footer.ms_footer .useful_links a:hover {
    text-decoration: underline;
}

/* COLORS */
.dodgerblue {
    color: #117bd1;
}

/* BONUS BUTTONS */
/* outline offset è più flessibile ma visivamente meno preciso */
.ms_button:hover {
    outline: 2px solid;
}

header.ms_header .ms_button {
    outline-color: black;
    border-color: white;
}

section.game_banner.first .ms_button,
section.game_banner.second .ms_button {
    outline-color: #cd3d0f;
    border-color: #0d0a0b; 
}

section.ps5 .ms_button,
section.ps4 .ms_button {
    outline-color: #0d6efd;
    border-color: white;
}

section.ps_plus_banner .ms_button,
section.ps_now_banner .ms_button {
    outline-color: #d9dadc;
    border-color: #bebcbb;
}

section.ps_now_banner .ms_button {
    outline-color: #d9dadc;
    border-color: #161c3b;
}