/* GENERAL STYLES */
body {
    color: #727272;
}

/* UTILITIES */
.ms_button {
    border-radius: 1rem;
}

button {
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
}

/* HEADER */
header.ms_header {
    z-index: 1;
}
header.ms_header > span {
    font-family: serif;
}

header.ms_header .logo { 
    padding-top: 0;
    padding-bottom: 0;
}

.ms_header nav.ms_navbar ul:first-of-type li {
    margin-right: 0.4rem;
}

.ms_header nav.ms_navbar button.ms_dropdown {
    font-size: 0.6rem;
    background-color: transparent;
    border: none;
    color: gray;
}

.ms_header nav.ms_navbar ul:last-of-type li {
    margin-left: 1.5rem;
}

.ms_header nav.ms_navbar .ms_button {
    margin-top: 0.25rem;
    padding: 0.2rem 0.7rem;
    border-radius: 1rem;
}

/* GAME BANNER */
section.game_banner.first {
    margin-top: 91px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

section.game_banner.first .ms_content {
    padding-top: 250px;
}

section.game_banner .ms_content h2 {
    font-size: 2.4rem;
}

section.game_banner .ms_content a {
    background-color: #cd3d0f;
}

/* SECTION GAME CARDS */
section.game_cards .ms_card .img_container,
section.game_cards .ms_card img{
    border-radius: 15px;
}

section.game_cards .ms_card .img_container:hover {
    outline: 3px solid #117bd1;
}

/* SECTION PS5 */

section.ps5 h2 {
    font-size: 2.4rem;
}

section.ps5 a {
    min-width: 170px;
}

section.ps5 .ps5_product img {
    opacity: 0.5;
}

section.ps5 .ps5_product span {
    color: gray;
    flex-grow: 1;
}

section.ps5 .ps5_product button:focus img {
    opacity: 1;
}

section.ps5 .ps5_product button {
 height: 100%;
}

section.ps5 .ps5_product button:focus span {
    color: black;
    
}

section.ps5 .ps5_product button:focus{
    border-bottom: 2px solid #117bd1;
}

/* COLORS */
.dodgerblue {
    color: #117bd1
}

section.game_banner.second {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}