/* HEADER */
header.ms_header > span {
    font-family: serif;
}

header.ms_header .logo { 
    padding-top: 0;
    padding-bottom: 0;
}

.ms_header nav.ms_navbar ul:first-of-type li {
    margin-right: 0.4rem;
}

.ms_header nav.ms_navbar button.ms_dropdown {
    font-size: 0.6rem;
    background-color: transparent;
    border: none;
    color: gray;
}

.ms_header nav.ms_navbar ul:last-of-type li {
    margin-left: 1.5rem;
}

.ms_header nav.ms_navbar .ms_button {
    margin-top: 0.25rem;
    padding: 0.2rem 0.7rem;
    border-radius: 1rem;
}

/* GAME BANNER */
section.game_banner {
    margin-top: 91px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

section.game_banner .ms_content {
    padding-top: 250px;
}

section.game_banner .ms_content h2 {
    font-size: 2.4rem;
}

section.game_banner .ms_content a {
    background-color: #cd3d0f;
    border-radius: 1rem;
}



